body {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none; /* Убираем маркеры у списка */
   }

   li:before {
    content: "⋇"; /* Добавляем в качестве маркера символ */
   }
a
{

color: rgb(44, 94, 145);
}

.Block
{   
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
}

.Columns{
display: flex;
justify-content: flex-center;
align-items: center;
border: 0px solid rgb(48, 255, 6);
}
.Columns_up{
    align-self: flex-start;    
}
.Columns_down{
    align-self: flex-end;  
}
#Elements{
    align-self: flex-start;  
    z-index: 1;
    width: 166px;
    height: 166px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(47, 0, 255);

}
#Elements_1{
    z-index: 2;
    width: 166px;
    height: 332px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgb(47, 0, 255);
}